/*=======================================

  Universal Styling

========================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "mencken-std-head", serif;
  letter-spacing: .03em;
  line-height: 1.2;
  padding-bottom: 10px;
}

h2 {
  font-size: 20px;
  padding-bottom: 8px;
  color: #404041;
}

p {
  font: 16px/1.4 "montserrat", serif;
  color: #404041;
}


/*=======================================

  Header Nav Styling

========================================*/
header {
    background: #f5f3f1;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 3px solid #f47f6f;
}

.logo-container,
header nav,
nav li  {
    display: inline-block;
    vertical-align: middle;
    text-align:right;
}

nav {
    width: 75%;
    padding-right: 35px;
    box-sizing: border-box;
}

nav > ul > li {
    display: inline-block;
    width: 20%;
    margin-bottom: 2px;
    position: relative;
}

header nav li {
    background: #d9ccc4;
    padding: 12px;
    margin: 5px;
}

nav ul li a {
  text-decoration: none;
  font: 18px "montserrat", sans-serif;
  color: #404041;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f47f6f;
  transition: 0.3s;
}

.sub-menu {
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    top: 50px;
    background: #3c3c3c;
    width: 100%;
}

.logo-container {
    width: 10%;
    margin-left: 120px;
    box-sizing: border-box;
    animation: 1s spin;
}

.logo-hover:hover {
  animation: 1s spin;
}

/*=======================================

Top section Styling

========================================*/

.top-section {
  position: relative;
  width: 100%;
  margin: 120px auto 0px;
}

.top-section img {
    min-height: 300px;
    object-fit: cover;
    object-position: right;
    max-width: 100%;
    margin: 0 auto;
}

.hello {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 80%;
    margin: 150px;
    z-index: 98;
    color: white;
    font-size: 30px;
}

/*=======================================

Home Page Styling

========================================*/

main {
    width: 100%;
    margin: 120px auto 0px;
}

.headings {
  background: #f47f6f;
  text-align: center;
  color: white;
  padding: 70px 0;
  position: relative;
}

.headings:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 5px dotted white;
    margin: 48px auto;
    max-width: 584px;
}

.headings p {
    color: white;
    max-width: 600px;
    margin: 0 auto;
}

.top-home {
  width:100%
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: #f5f3f1;
  padding: 20px;
  background-attachment: fixed;
}
/*=======================================

About

========================================*/

.profile {
    float: left;
    padding: 20px;
    margin: -49px 0 0 70px;
}

.about-text {
    background: #d9ccc4;
    padding: 20px;
    max-width: 70%;
    margin: 0 auto;
    min-height: 500px;
}

.about-text p{
  font-size: 14px;
}

.about-me {
    padding-top: 10px;
    position: relative;
    padding-bottom: 268px;
}

.about-heading {
    color: #404041;
    padding: 30px 0 70px 94px;
    font-size: 40px;
}


.skills {
    background: #f47f6f;
    width: 35%;
    position: absolute;
    padding: 20px;
    left: 450px;
    bottom: 120px;
    border-radius: 1px;
}

.skills h2{
  color: white;
  font-size: 26px;
  padding-bottom: 12px;
}

.skills h2:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 5px dotted white;
    margin: 0 22px 177px;
    max-width: 180px;
}

.skills table td {
  font: 14px/1.4 "montserrat", sans-serif;
  color: white;
  padding: 15px 20px;
}


/*.profile,
.about-me{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 0 auto;
}

.profile {
  text-align: right;
}*/

/*=======================================

Web design styling

========================================*/
.projects,
.project-left,
.project-right {
  background: #d9ccc4;
  padding: 20px;
  margin: 5px;
}

.design-heading {
  font-size: 40px;
}

.project-left,
.project-right {
  width: 45%;
  display: inline-block;
}
/*=======================================

  Video Projects styling

========================================*/
.video-projects {
  padding: 10px;
}
iframe {
  margin: 3px;
}
/*=======================================

  Contact info styling

========================================*/

.contact-info,
.contact-form {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.contact-info {
    background: #f47f6f;
    padding: 23px;
    border-radius: 1px;
    max-width: 317px;
    margin: 90px 20px 0px 250px;
    position: relative;
    z-index: 98;
}

.contact-info:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 5px dotted #f47f6f;
    border-bottom: 5px dotted #f47f6f;
    margin: -30px 0;
    z-index: -1;
}

.contact-info h2 {
    color: white;
    line-height: 2;
    text-align: right;
}

.contact-info h2 a {
  text-decoration: none;
  color: white;
}

.contact-info h2 a:hover {
  color: #404041;
}

/*=======================================

  Form Styling

========================================*/

.contact-form {
    font: 14px/1.4 "montserrat", sans-serif;
    padding: 26px 0 40px 35px;
}

input {
    padding: 10px;
    width: 100%;
    max-width: 461px;
}

.submit {
    margin: 15px 0 0 308px;
}

.submit input {
    color: #404041;
    background: white;
    padding: 10px;
    border-radius: 3px;
    width: 141px;
}

.submit input:hover {
  background: #f47f6f;
  color: white;
}

.submit input:active {
  background: #404041;
  color: white;
}

.label_input_wrap {
    color: #404041;
    display: block;
    margin: 20px 0 5px;
}

textarea {
    padding: 8px 10px;
}

input,
textarea {
    font: 11px/1.4 "montserrat", sans-serif;
    border-radius: 1px;
    border: 2px solid #f47f6f;
  }


  /*=======================================

  Footer Styling

  ========================================*/

  footer {
    text-align: center;
    padding: 40px 0;
    background: #f47f6f;
  }

  footer p,
  .linkedin {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    color: white;
  }

/*=======================================

  Animation

========================================*/

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
